# Exclude all builds of the application
bin/*
bin-int/*
packages/*
build/*
out/*

*.tlog

# Engine generated log
log.txt

# Exclude all Visual Studio artifacts
.vs/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
